/bin/
/target/
/.settings/
/doc/
/ips_in.txt
/ips_reachable.txt
/ips_unreachable.txt
/emails_out - Copy.txt
/emails_out.txt
/lists_out.txt
/emails_out - Copy (2).txt
/emails_out - Copy (3).txt
/emails_out - Copy (4).txt
/emails_out - Copy (5).txt
/emails_out - Copy (6).txt
/lists_out - Copy (2).txt
/lists_out - Copy (3).txt
/lists_out - Copy.txt
/domains_dead.txt
/domains_exists.txt
/emails_dead.txt
/emails_exists.txt
/emails_out - Copy (7).txt
/emails_out - Copy (8).txt
/lists_out - Copy (4).txt
/lists_out - Copy (5).txt
/new 90.txt
